In [1]:
minute_data = [30, 155, 180,74, 11, 60, 82]

hmsplit=lambda x : [x//60,x%60]

hmdata = [hmsplit(x) for x in minute_data]

print(hmdata)

[[0, 30], [2, 35], [3, 0], [1, 14], [0, 11], [1, 0], [1, 22]]

In [2]:
minute_data = [30, 155, 180,74, 11, 60, 82]

just_hour_data = [x for x in minute_data if x % 60 == 0]

print(just_hour_data)

[180, 60]

In [3]:
hour = [0,2,3,1,0,1,1]
minute = [30,35,0,14,11,0,22]

h_m_combine = lambda x,y : x*60 +y

minute_data1 = [h_m_combine(x,y) for x,y in zip(hour, minute)]

print(minute_data1)

[30, 155, 180, 74, 11, 60, 82]

In [4]:
threes_place = [0,1]
twos_place = [0,1]
ones_place = [0,1]

digit = [x*4 + y*2 + z for x in threes_place for y in twos_place for z in ones_place]

print(digit)

[0, 1, 2, 3, 4, 5, 6, 7]

In [5]:
a=[1,2,3,4,5]
b=[0,1,2,3]

print([x*y for x in a if x%2==0 for y in b])

[0, 2, 4, 6, 0, 4, 8, 12]

In [6]:
a=[1,2,3,4,5]
b=[0,1,2,3]
c=[]

for x in a :
    if x%2 == 0:
        for y in b :
            c.append(x*y)
            
print(c)

[0, 2, 4, 6, 0, 4, 8, 12]

In [9]:
from collections import defaultdict

description = \
'Artificial intelligence (AI, also machine intelligence, MI) is ' +\
'intelligence exhibited by machines, rather than ' +\
"humans or other animals (natural intelligence, NI)."

char_freq = defaultdict(int)

for i in description :
    char_freq[i] += 1
    
print(sorted(char_freq.items(), key=lambda x : x[1],reverse=True)[:10])

[(' ', 20), ('e', 18), ('i', 17), ('n', 14), ('l', 12), ('a', 11), ('t', 10), ('c', 7), ('h', 7), ('r', 6)]

In [11]:
from collections import defaultdict

price = [
    ('apple',50),
    ('banana',120),
    ('grape',500),
    ('apple',70),
    ('lemon',150),
    ('grape',1000)
]

d= defaultdict(list)

for key, value in price :
    d[key].append(value)

print(d)
print([sum(x) / len(x) for x in d.values()])

defaultdict(<class 'list'>, {'apple': [50, 70], 'banana': [120], 'grape': [500, 1000], 'lemon': [150]})
[60.0, 120.0, 750.0, 150.0]

In [12]:
from collections import Counter

description = \
'Artificial intelligence (AI, also machine intelligence, MI) is ' +\
'intelligence exhibited by machines, rather than ' +\
"humans or other animals (natural intelligence, NI)."

char_freq = Counter(description)

print(char_freq.most_common(10))

[(' ', 20), ('e', 18), ('i', 17), ('n', 14), ('l', 12), ('a', 11), ('t', 10), ('c', 7), ('h', 7), ('r', 6)]

In [13]:
from collections import defaultdict
from collections import Counter

a=[3,2,1,4,5,5,3,5,1]

d= defaultdict(int)

for key in a :
    d[key] += 1
    
c=Counter(a)

print(d)
print(c)

defaultdict(<class 'int'>, {3: 2, 2: 1, 1: 2, 4: 1, 5: 3})
Counter({5: 3, 3: 2, 1: 2, 2: 1, 4: 1})

In [14]:
import pandas as pd
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

df.columns = ['','Alcohol','Malic acid','Ash','Alcalinity of ash','Mangesium','1','2','3','4','5','6','7','8']

df

,,Alcohol,Malic acid,Ash,Alcalinity of ash,Mangesium,1,2,3,4,5,6,7,8
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.640000,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.380000,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.680000,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.800000,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.320000,1.04,2.93,735
5,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.750000,1.05,2.85,1450
6,1,14.39,1.87,2.45,14.6,96,2.50,2.52,0.30,1.98,5.250000,1.02,3.58,1290
7,1,14.06,2.15,2.61,17.6,121,2.60,2.51,0.31,1.25,5.050000,1.06,3.58,1295
8,1,14.83,1.64,2.17,14.0,97,2.80,2.98,0.29,1.98,5.200000,1.08,2.85,1045
9,1,13.86,1.35,2.27,16.0,98,2.98,3.15,0.22,1.85,7.220000,1.01,3.55,1045
10,1,14.10,2.16,2.30,18.0,105,2.95,3.32,0.22,2.38,5.750000,1.25,3.17,1510
11,1,14.12,1.48,2.32,16.8,95,2.20,2.43,0.26,1.57,5.000000,1.17,2.82,1280
12,1,13.75,1.73,2.41,16.0,89,2.60,2.76,0.29,1.81,5.600000,1.15,2.90,1320
13,1,14.75,1.73,2.39,11.4,91,3.10,3.69,0.43,2.81,5.400000,1.25,2.73,1150
14,1,14.38,1.87,2.38,12.0,102,3.30,3.64,0.29,2.96,7.500000,1.20,3.00,1547
15,1,13.63,1.81,2.70,17.2,112,2.85,2.91,0.30,1.46,7.300000,1.28,2.88,1310
16,1,14.30,1.92,2.72,20.0,120,2.80,3.14,0.33,1.97,6.200000,1.07,2.65,1280
17,1,13.83,1.57,2.62,20.0,115,2.95,3.40,0.40,1.72,6.600000,1.13,2.57,1130
18,1,14.19,1.59,2.48,16.5,108,3.30,3.93,0.32,1.86,8.700000,1.23,2.82,1680
19,1,13.64,3.10,2.56,15.2,116,2.70,3.03,0.17,1.66,5.100000,0.96,3.36,845
20,1,14.06,1.63,2.28,16.0,126,3.00,3.17,0.24,2.10,5.650000,1.09,3.71,780
21,1,12.93,3.80,2.65,18.6,102,2.41,2.41,0.25,1.98,4.500000,1.03,3.52,770
22,1,13.71,1.86,2.36,16.6,101,2.61,2.88,0.27,1.69,3.800000,1.11,4.00,1035
23,1,12.85,1.60,2.52,17.8,95,2.48,2.37,0.26,1.46,3.930000,1.09,3.63,1015
24,1,13.50,1.81,2.61,20.0,96,2.53,2.61,0.28,1.66,3.520000,1.12,3.82,845
25,1,13.05,2.05,3.22,25.0,124,2.63,2.68,0.47,1.92,3.580000,1.13,3.20,830
26,1,13.39,1.77,2.62,16.1,93,2.85,2.94,0.34,1.45,4.800000,0.92,3.22,1195
27,1,13.30,1.72,2.14,17.0,94,2.40,2.19,0.27,1.35,3.950000,1.02,2.77,1285
28,1,13.87,1.90,2.80,19.4,107,2.95,2.97,0.37,1.76,4.500000,1.25,3.40,915
29,1,14.02,1.68,2.21,16.0,96,2.65,2.33,0.26,1.98,4.700000,1.04,3.59,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,3,13.32,3.24,2.38,21.5,92,1.93,0.76,0.45,1.25,8.420000,0.55,1.62,650
149,3,13.08,3.90,2.36,21.5,113,1.41,1.39,0.34,1.14,9.400000,0.57,1.33,550
150,3,13.50,3.12,2.62,24.0,123,1.40,1.57,0.22,1.25,8.600000,0.59,1.30,500
151,3,12.79,2.67,2.48,22.0,112,1.48,1.36,0.24,1.26,10.800000,0.48,1.47,480
152,3,13.11,1.90,2.75,25.5,116,2.20,1.28,0.26,1.56,7.100000,0.61,1.33,425
153,3,13.23,3.30,2.28,18.5,98,1.80,0.83,0.61,1.87,10.520000,0.56,1.51,675
154,3,12.58,1.29,2.10,20.0,103,1.48,0.58,0.53,1.40,7.600000,0.58,1.55,640
155,3,13.17,5.19,2.32,22.0,93,1.74,0.63,0.61,1.55,7.900000,0.60,1.48,725
156,3,13.84,4.12,2.38,19.5,89,1.80,0.83,0.48,1.56,9.010000,0.57,1.64,480
157,3,12.45,3.03,2.64,27.0,97,1.90,0.58,0.63,1.14,7.500000,0.67,1.73,880
158,3,14.34,1.68,2.70,25.0,98,2.80,1.31,0.53,2.70,13.000000,0.57,1.96,660
159,3,13.48,1.67,2.64,22.5,89,2.60,1.10,0.52,2.29,11.750000,0.57,1.78,620
160,3,12.36,3.83,2.38,21.0,88,2.30,0.92,0.50,1.04,7.650000,0.56,1.58,520
161,3,13.69,3.26,2.54,20.0,107,1.83,0.56,0.50,0.80,5.880000,0.96,1.82,680
162,3,12.85,3.27,2.58,22.0,106,1.65,0.60,0.60,0.96,5.580000,0.87,2.11,570
163,3,12.96,3.45,2.35,18.5,106,1.39,0.70,0.40,0.94,5.280000,0.68,1.75,675
164,3,13.78,2.76,2.30,22.0,90,1.35,0.68,0.41,1.03,9.580000,0.70,1.68,615
165,3,13.73,4.36,2.26,22.5,88,1.28,0.47,0.52,1.15,6.620000,0.78,1.75,520
166,3,13.45,3.70,2.60,23.0,111,1.70,0.92,0.43,1.46,10.680000,0.85,1.56,695
167,3,12.82,3.37,2.30,19.5,88,1.48,0.66,0.40,0.97,10.260000,0.72,1.75,685
168,3,13.58,2.58,2.69,24.5,105,1.55,0.84,0.39,1.54,8.660000,0.74,1.80,750
169,3,13.40,4.60,2.86,25.0,112,1.98,0.96,0.27,1.11,8.500000,0.67,1.92,630
170,3,12.20,3.03,2.32,19.0,96,1.25,0.49,0.40,0.73,5.500000,0.66,1.83,510
171,3,12.77,2.39,2.28,19.5,86,1.39,0.51,0.48,0.64,9.899999,0.57,1.63,470
172,3,14.16,2.51,2.48,20.0,91,1.68,0.70,0.44,1.24,9.700000,0.62,1.71,660
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.700000,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.300000,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.200000,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.300000,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.200000,0.61,1.60,560

In [17]:
import pandas as pd
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', header=None)

df.columns =['sepal length','sepal width','1','2','3']

df

     sepal length  sepal width    1    2               3
0             5.1          3.5  1.4  0.2     Iris-setosa
1             4.9          3.0  1.4  0.2     Iris-setosa
2             4.7          3.2  1.3  0.2     Iris-setosa
3             4.6          3.1  1.5  0.2     Iris-setosa
4             5.0          3.6  1.4  0.2     Iris-setosa
5             5.4          3.9  1.7  0.4     Iris-setosa
6             4.6          3.4  1.4  0.3     Iris-setosa
7             5.0          3.4  1.5  0.2     Iris-setosa
8             4.4          2.9  1.4  0.2     Iris-setosa
9             4.9          3.1  1.5  0.1     Iris-setosa
10            5.4          3.7  1.5  0.2     Iris-setosa
11            4.8          3.4  1.6  0.2     Iris-setosa
12            4.8          3.0  1.4  0.1     Iris-setosa
13            4.3          3.0  1.1  0.1     Iris-setosa
14            5.8          4.0  1.2  0.2     Iris-setosa
15            5.7          4.4  1.5  0.4     Iris-setosa
16            5.4          3.9  1.3  0.4     Iris-setosa
17            5.1          3.5  1.4  0.3     Iris-setosa
18            5.7          3.8  1.7  0.3     Iris-setosa
19            5.1          3.8  1.5  0.3     Iris-setosa
20            5.4          3.4  1.7  0.2     Iris-setosa
21            5.1          3.7  1.5  0.4     Iris-setosa
22            4.6          3.6  1.0  0.2     Iris-setosa
23            5.1          3.3  1.7  0.5     Iris-setosa
24            4.8          3.4  1.9  0.2     Iris-setosa
25            5.0          3.0  1.6  0.2     Iris-setosa
26            5.0          3.4  1.6  0.4     Iris-setosa
27            5.2          3.5  1.5  0.2     Iris-setosa
28            5.2          3.4  1.4  0.2     Iris-setosa
29            4.7          3.2  1.6  0.2     Iris-setosa
..            ...          ...  ...  ...             ...
120           6.9          3.2  5.7  2.3  Iris-virginica
121           5.6          2.8  4.9  2.0  Iris-virginica
122           7.7          2.8  6.7  2.0  Iris-virginica
123           6.3          2.7  4.9  1.8  Iris-virginica
124           6.7          3.3  5.7  2.1  Iris-virginica
125           7.2          3.2  6.0  1.8  Iris-virginica
126           6.2          2.8  4.8  1.8  Iris-virginica
127           6.1          3.0  4.9  1.8  Iris-virginica
128           6.4          2.8  5.6  2.1  Iris-virginica
129           7.2          3.0  5.8  1.6  Iris-virginica
130           7.4          2.8  6.1  1.9  Iris-virginica
131           7.9          3.8  6.4  2.0  Iris-virginica
132           6.4          2.8  5.6  2.2  Iris-virginica
133           6.3          2.8  5.1  1.5  Iris-virginica
134           6.1          2.6  5.6  1.4  Iris-virginica
135           7.7          3.0  6.1  2.3  Iris-virginica
136           6.3          3.4  5.6  2.4  Iris-virginica
137           6.4          3.1  5.5  1.8  Iris-virginica
138           6.0          3.0  4.8  1.8  Iris-virginica
139           6.9          3.1  5.4  2.1  Iris-virginica
140           6.7          3.1  5.6  2.4  Iris-virginica
141           6.9          3.1  5.1  2.3  Iris-virginica
142           5.8          2.7  5.1  1.9  Iris-virginica
143           6.8          3.2  5.9  2.3  Iris-virginica
144           6.7          3.3  5.7  2.5  Iris-virginica
145           6.7          3.0  5.2  2.3  Iris-virginica
146           6.3          2.5  5.0  1.9  Iris-virginica
147           6.5          3.0  5.2  2.0  Iris-virginica
148           6.2          3.4  5.4  2.3  Iris-virginica
149           5.9          3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
import csv

data={'city' : ['Naguno','Sydney','Slat Lake City'],
     'year' : [1998,2000,2002],
     'season' : ['winter','summer','winter']}

df = pd.DataFrame(data)

df.to_csv('csv1.csv')

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

attri_data1={'ID' : ['100','101','102'],
            }

In [22]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

sample_data_frame

          0         1         2         3
0  0.382212  0.036447  0.990928  0.606270
1       NaN  0.857717  0.877890  0.686146
2  0.339462  0.064034       NaN  0.809089
3  0.652409  0.728137  0.089036  0.008738
4  0.331852  0.459239  0.127448  0.851702
5  0.725750  0.464686  0.252143       NaN
6  0.681678  0.439815  0.529742       NaN
7  0.172686  0.536614  0.873129       NaN
8  0.229551  0.914190  0.211754       NaN
9  0.070186  0.835962  0.924286       NaN

In [21]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

sample_data_frame.dropna()

          0         1         2         3
0  0.615824  0.369799  0.910106  0.002713
3  0.534405  0.265132  0.169883  0.521601
4  0.260662  0.223114  0.179007  0.770368

In [23]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

sample_data_frame.dropna(axis=1)

          1
0  0.424638
1  0.925977
2  0.208358
3  0.052952
4  0.480405
5  0.129781
6  0.106426
7  0.709270
8  0.898408
9  0.906148

In [27]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

sample_data_frame[[0,1,2]].dropna()

          0         1         2
0  0.565916  0.710159  0.792364
3  0.364096  0.769004  0.186503
4  0.517522  0.242515  0.592311
5  0.731968  0.338549  0.336786
6  0.200932  0.390655  0.763804
7  0.866779  0.165050  0.215773
8  0.155613  0.855801  0.097851
9  0.520936  0.375849  0.664868

In [28]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

sample_data_frame.fillna(0)

          0         1         2         3
0  0.272516  0.028200  0.841204  0.324798
1  0.000000  0.836215  0.001452  0.885752
2  0.951536  0.426343  0.000000  0.096686
3  0.480990  0.954983  0.267205  0.242585
4  0.285387  0.427269  0.859538  0.197705
5  0.487665  0.472510  0.678521  0.000000
6  0.756611  0.297844  0.769058  0.000000
7  0.125919  0.087304  0.026698  0.000000
8  0.796076  0.423558  0.594253  0.000000
9  0.415116  0.930193  0.971660  0.000000

In [29]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

# NaN 값에바로 앞 행에 있는 데이터를 가져온다.
sample_data_frame.fillna(method='ffill')

          0         1         2         3
0  0.020042  0.696212  0.645769  0.829736
1  0.020042  0.916163  0.980900  0.301593
2  0.699867  0.783024  0.980900  0.010917
3  0.113301  0.943897  0.605538  0.347188
4  0.402515  0.318079  0.655391  0.046657
5  0.636102  0.558377  0.946570  0.046657
6  0.116582  0.253095  0.121627  0.046657
7  0.121284  0.368044  0.643064  0.046657
8  0.037539  0.230263  0.469936  0.046657
9  0.664180  0.913818  0.678504  0.046657

In [30]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

# NaN 값에바로 앞 행에 있는 데이터를 가져온다.
sample_data_frame.fillna(sample_data_frame.mean())

          0         1         2         3
0  0.744592  0.178751  0.955798  0.721079
1  0.517476  0.820917  0.798979  0.758959
2  0.646115  0.219944  0.499986  0.478312
3  0.560449  0.512605  0.237997  0.730515
4  0.132165  0.464086  0.815205  0.227924
5  0.301993  0.114508  0.040420  0.583358
6  0.353543  0.795922  0.139275  0.583358
7  0.897971  0.343977  0.793175  0.583358
8  0.495246  0.314519  0.305052  0.583358
9  0.525210  0.294283  0.413971  0.583358

In [31]:
import numpy as np
from numpy import nan as NA
import pandas as pd

sample_data_frame = pd.DataFrame(np.random.rand(10,4))

sample_data_frame.iloc[1,0]=NA
sample_data_frame.iloc[2,2]=NA
sample_data_frame.iloc[5:,3]=NA

# NaN 값에 NaN 값의 앞 뒤 행의 평균값 데이터를 가져온다.
sample_data_frame.fillna(sample_data_frame.interpolate())

          0         1         2         3
0  0.738447  0.644832  0.118228  0.155965
1  0.570152  0.966393  0.191806  0.852429
2  0.401857  0.186506  0.349293  0.859741
3  0.401129  0.117660  0.506780  0.468714
4  0.376626  0.218878  0.645061  0.348151
5  0.484639  0.357341  0.328737  0.348151
6  0.570374  0.173761  0.483237  0.348151
7  0.317832  0.066197  0.255259  0.348151
8  0.548595  0.082869  0.132304  0.348151
9  0.406832  0.714523  0.860232  0.348151

In [32]:
import pandas as pd
df = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data', header=None)

df.columns = ['','Alcohol','Malic acid','Ash','Alcalinity of ash','Mangesium','1','2','3','4','5','6','7','8']

#mean()을 이용하여 df의 Ash열의 평균값을 출력한다.
print(df['Ash'].mean())

2.3665168539325845

In [34]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4],
                       "col2" : ['a','b','b','c','d','e','e']})

dupli_data.duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
dtype: bool

In [35]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4],
                       "col2" : ['a','b','b','c','d','e','e']})

dupli_data.drop_duplicates()

   col1 col2
0     1    a
1     2    b
3     3    c
4     3    d
5     4    e

In [36]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4],
                       "col2" : ['a','b','b','c','d','e','e']})

col_map = { 'a' : 'A',
          'b' : 'B',
          'c' : 'C',
          'd' : 'D',
          'e' : 'E'}

# 새로운 컬럼 col3을 추가 해당 데이터가 없는 경우는 NaN
# dupli_data의 col2 칼럼을 기반으로 대응
dupli_data['col3'] = dupli_data['col2'].map(col_map)
dupli_data

   col1 col2 col3
0     1    a    A
1     2    b    B
2     2    b    B
3     3    c    C
4     3    d    D
5     4    e    E
6     4    e    E

In [37]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4,5,6,7,8],
                       "col2" : ['a','b','b','c','d','e','e','e','e','e','e']})
cut_list=[1,3,5,8]

cut_data = pd.cut(dupli_data.col1,cut_list)

cut_data

0        NaN
1     (1, 3]
2     (1, 3]
3     (1, 3]
4     (1, 3]
5     (3, 5]
6     (3, 5]
7     (3, 5]
8     (5, 8]
9     (5, 8]
10    (5, 8]
Name: col1, dtype: category
Categories (3, interval[int64]): [(1, 3] < (3, 5] < (5, 8]]

In [38]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4,5,6,7,8],
                       "col2" : ['a','b','b','c','d','e','e','e','e','e','e']})
# 분할 리스트 생성
cut_list=[1,3,5,8]

# 구간 이름 리스트 생성
group_names=['first','second','third']

# 구간 분할
# dupli_data의 col1 칼럼을 cut_list 대로 분할함
# group_names을 이용하여 구간 이름 붙힘
cut_data = pd.cut(dupli_data.col1,cut_list,labels=group_names)

# 각 구간의 수 집계
pd.value_counts(cut_data)

first     4
third     3
second    3
Name: col1, dtype: int64

In [40]:
import pandas as pd
from pandas import DataFrame

dupli_data = DataFrame({'col1' : [1,2,2,3,3,4,4,5,6,7,8],
                       "col2" : ['a','b','b','c','d','e','e','e','e','e','e']})

#구간 분할
# dupli_data의 col1 칼럼을 3개의 구간으로 분할함
cut_data = pd.cut(dupli_data.col1,3)

cut_data

0     (0.993, 3.333]
1     (0.993, 3.333]
2     (0.993, 3.333]
3     (0.993, 3.333]
4     (0.993, 3.333]
5     (3.333, 5.667]
6     (3.333, 5.667]
7     (3.333, 5.667]
8       (5.667, 8.0]
9       (5.667, 8.0]
10      (5.667, 8.0]
Name: col1, dtype: category
Categories (3, interval[float64]): [(0.993, 3.333] < (3.333, 5.667] < (5.667, 8.0]]